* {
	margin: 0;
	padding: 0;
}

#main {
	width: 1440px;
	margin: 0 auto;
}

#banner {
	width: 1440px;
	overflow: hidden;
	position: relative;
}

#ul-imgs {
	list-style: none;
}

#ul-imgs.transition {
	transition: all .5s linear;
}

#ul-imgs>li {
	width: 1440px;
	float: left;
}

#ul-imgs li>div {
	width: 1440px;
	height: 800px;
	background-color: #fafafa;
	text-align: center;
}
#ul-imgs>li:nth-child(1) img,#ul-imgs>li:nth-child(5) img{
	width: 1256px;
	position: relative;
	top: 300px;
	left: -5px;
}
#ul-imgs>li:nth-child(1) h1,#ul-imgs>li:nth-child(5) h1{font-size: 64px;}
#ul-imgs>li:nth-child(1) h2,#ul-imgs>li:nth-child(5) h2{font-size: 32px;}
#ul-imgs>li:nth-child(1) a,#ul-imgs>li:nth-child(5) a{font-size: 24px;}
#ul-imgs>li:nth-child(1)>div>div,#ul-imgs>li:nth-child(5)>div>div{
	position: relative;
	top: -350px;
}


#ul-imgs>li:nth-child(2) img{
	width: 1256px;
	position: relative;
	top: 320px;
	left: -5px;
}
#ul-imgs>li:nth-child(2)>div>div{
	position: relative;
	top: -470px;
}
#ul-imgs>li:nth-child(2) h1{font-size: 64px;color: #fff;}
#ul-imgs>li:nth-child(2) h2{font-size: 32px;color: #fff;}
#ul-imgs>li:nth-child(2) a{font-size: 24px}
#ul-imgs>li:nth-child(2)>div{background-color: #121212;}




#ul-imgs>li:nth-child(3) img{
	width: 900px;
	position: relative;
	top: 100px;
	left: -125px;
}
#ul-imgs>li:nth-child(3)>div>div>p,#ul-imgs>li:nth-child(3)>div>div>a{font-size: 21px;}
#ul-imgs>li:nth-child(3)>div>div{
	width: 400px;
	position: relative;
	top: -340px;
	left: 900px;
}

#ul-imgs>li:nth-child(4) img{
	width: 800px;
	height: 500px;
	position: relative;
	top: 210px;
	left: -5px;
}
#ul-imgs>li:nth-child(4)>div>div{
	position: relative;
	top: -470px;
}
#ul-imgs>li:nth-child(4) h1{font-size: 64px;}
#ul-imgs>li:nth-child(4) h2{font-size: 32px;}
#ul-imgs>li:nth-child(4) a{font-size: 24px;}




#ul-idxs {
	width: 100px;
	margin: 0 auto;
	list-style: none;
	position: absolute;
	bottom: 25px;
	left: 50%;
	margin-left: -50px;
}

#ul-idxs>li {
	float: left;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 5px;
	margin: 0 5px;
	cursor: pointer;
}

#ul-idxs>li.active {
	background-color: blue;
}

#btn-left,#btn-right {
	width: 60px;
	height: 100%;
	position: absolute;
	top: 0;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

#btn-left {
	left: 20px;
	background-image: url(../image/Mac_img/left_ar.png);
}

#btn-right {
	right: 20px;
	background-image: url(../image/Mac_img/right_ar.png);
}

#btn-left:hover,#btn-right:hover {
	background-size: 40px 70px
}


